<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="https://www.yuki.com">The learning Ruby and Rails building real app</a>
      by <a href="https://www.udemy.com">Udemy Online</a>
    </small>
    <nav>
  <ul>
    <li><%= link_to "About", pages_about_path %></li>
    <li><a href="http://yuks-u-king.sakura.ne.jp/Course%20Website%20Live%20own/index.html">UA-KI HOME</a></li>
    <li><a href="http://yuks-u-king.sakura.ne.jp/omnifood/index.html">Omnifood HOME</a></li>
  </ul>
</nav>
  </footer> 
</div>

